/*显示盒子*/
body{
    background-color: #f2f2f2;
}
.inside-box{
    margin: 20px auto !important;
}
/*左侧列表区域*/
.inside-choose{
    width: 220px;
}

/*表头样式*/
.inside-choose>ul>li>h3>a{
    display: block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #666;
    line-height: 40px;
    font-size: 18px;
    font-weight: normal;
    text-indent: 16px;
}
/*表单样式*/
.inside-choose>ul>li>ul{
    margin-bottom: 14px;
}
.inside-choose>ul>li>ul>li>a{
    display: block;
    font-size: 12px;
    line-height: 32px;
    color: #757575;
    text-indent: 30px;
}
.inside-choose>ul>li>ul>li>a:hover{
    background-color: #f3f1e5;
}
/*右侧内容区域*/
.inside-content{
    margin-left: 280px;
    margin-bottom: 6px;
}
/*头部标签*/
.inside-content-title{
    position: relative;
    margin-bottom: 12px;
    padding-left: 40px;
    border: 1px solid #ccc;
    color: #666;
    line-height: 40px;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 6px;
    overflow: hidden;
}
.inside-content-title:before,.inside-content-title:after{
    content: " ";
    position: absolute;
    top: 0;
    display: block;
    width: 150px;
    height: 1px;
    background-color: #ccc;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.inside-content-title:before{
    left: -35px;
}
.inside-content-title:after{
    right: -75px;
}
/*下方列表*/
.inside-content-word>li>a{
    position: relative;
    display: block;
    border-bottom: 1px dashed #ccc;
    height: 32px;
}
.inside-content-word>li>a>div{
    position: absolute;
    top: 6px;
    left: 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #afafaf;
    border-radius: 50%;
}
.inside-content-word>li>a>.hot{
    background: #f00;
}
.inside-content-word>li>a>p{
    line-height: 32px;
    margin-left: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inside-content-word>li>a>ul{
    position: absolute;
    top: 6px;
    right: 0;
    font-size: 0;
    color: #fff;
}
.inside-content-word>li>a>ul>li{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
    margin-left: 6px;
    font-size: 12px;
    color: #898989;
}
.inside-content-word>li>a>ul>.red{
    background: #f2f2f2;
}
.inside-content-word>li>a>ul>.green{
    background: #359183;
}
.inside-content-word>li>a>ul>.blue{
    background: #00f;
}
.inside-content-word>li>a>ul>.purple{
    background: #f0f;
}
.inside-content-word>li>a>ul>.orange{
    background: #ff6800;
}
.inside-content-word>li>a:hover div{
    background-color: #359183;
}
.inside-content-word>li>a:hover .hot{
    background-color: #f00;
}
.inside-content-word>li>a:hover p{
    color: #359183;
}
/*底部序列部分*/
.inside-list{
    font-size: 0;
    text-align: right;
    margin-top: 16px;
}
.inside-list>li{
    display: inline-block;
    margin-left: 10px;
}
.inside-list>li>a{
    display: block;
    padding: 6px 18px;
    border-radius: 4px;
    background-color: #d3d3d3;
    color: #505050;
}
.inside-list>li>a:hover{
    background-color: #359183;
    color: #fff;
}
.inside-list>li>.list-active{
    background-color: #359183;
    color: #fff;
}
/*分页*/
.pagination-wrapper{
    margin: 20px 0;
}
.pagination-wrapper .pageinfo{
    display:none;
}
.pagination-wrapper ul{
    list-style: none;
    margin:0 auto;
}
.pagination-wrapper ul li{
    float: left;
    display: block;
    margin-right: 5px;
}
.pagination-wrapper ul li a{
    display: block;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    color: #555;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 0 12px;
    text-decoration: none;
    cursor: pointer;
}
.pagination-wrapper ul li a:hover{
    background-color: #09f;
    color: #fff;
}
.pagination-wrapper ul .thisclass a{
    background-color: #09f;
    color: #fff;
}

@media screen and (max-width:1000px) and (min-width:768px){
    .inside-choose{
        width: 200px;
    }
    .inside-content{
        margin-left: 210px;
    }
}

@media screen and (max-width:768px){
    .inside-choose{
        display: none;
    }
    .inside-content{
        margin-left: 0;
        border-left: none;
        padding: 20px 0;
    }
    .inside-content-word>li>a>ul{
        display: none;
    }
}